<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- <include resource="org/springframework/boot/logging/logback/base.xml" 
		/> -->
	<property name="LOG_HOME" value="/alidata/logs" />
	<property name="LOG_NAME" value="vdata" />
	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n
			</pattern>
		</layout>
	</appender>
	<appender name="AllLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${LOG_NAME}_%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework.web" level="INFO" />
	<!-- 关闭默认心跳日志 -->
	<logger
		name="com.netflix.discovery.shared.resolver.aws.ConfigClusterResolver"
		level="OFF" />
	<springProfile name="pcs">
		<logger name="com.ruixun" level="DEBUG" />
		<root level="INFO">
			<appender-ref ref="stdout" />
			<appender-ref ref="AllLog" />
		</root>
	</springProfile>
	<springProfile name="prod">
		<logger name="com.ruixun" level="DEBUG" />
		<root level="INFO">
			<appender-ref ref="stdout" />
			<appender-ref ref="AllLog" />
		</root>
	</springProfile>
	<springProfile name="dev">
		<logger name="com.ruixun" level="DEBUG" />
		<root level="INFO">
			<appender-ref ref="stdout" />
			<appender-ref ref="AllLog" />
		</root>
	</springProfile>
	<springProfile name="pre">
		<logger name="com.ruixun" level="DEBUG" />
		<root level="INFO">
			<appender-ref ref="stdout" />
			<appender-ref ref="AllLog" />
		</root>
	</springProfile>
	<springProfile name="test">
		<logger name="com.ruixun" level="DEBUG" />
		<root level="INFO">
			<appender-ref ref="stdout" />
			<appender-ref ref="AllLog" />
		</root>
	</springProfile>
</configuration>   